@import "../../../../../assets/styles/variables";

.contacts-table {
  margin: $default-page-padding auto;
  width: 100%;

  .contact-action-btn {
    display: inline-block;
  }

  .header-actions-container {
    display: flex;

    .action-search-container {
      flex: 1 0 auto;

      .search-field {
        ::ng-deep .mat-form-field-wrapper {
          display: inline;
        }
      }
    }

    .action-button-container {
      flex: 0 1 auto;
      display: flex;
    }
  }

  .table-container {
    width: 100%;
  }

  .mat-column-firstName,
  .mat-column-lastName {
    width: 20%;
  }

  .mat-column-actions {
    width: 15%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .action-button-text {
    display: none;
  }
}

@media (max-width: 700px) {
  .mat-column-email {
    display: none;
  }
}

@media (max-width: 1000px) {
  .mat-column-phone {
    display: none;
  }
}

.contacts-title {
  text-align: center;
}
