<div class="page-container">
  <h1 class="contacts-title">Contacts List</h1>

  <div class="table-container">
    <table
      mat-table
      matSort
      [dataSource]="contacts"
      class="mat-elevation-z8 contacts-table"
    >
      <!-- firstName -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let contact">{{ contact.firstName }}</td>
      </ng-container>

      <!-- lastName -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let contact">{{ contact.lastName }}</td>
      </ng-container>

      <!-- email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Address</th>
        <td mat-cell *matCellDef="let contact">{{ contact.email }}</td>
      </ng-container>

      <!-- phone -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let contact">{{ contact.phoneNumber }}</td>
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let contact">
          <button
            class="contact-action-btn"
            mat-icon-button
            (click)="onEditClicked(contact)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            class="contact-action-btn"
            mat-icon-button
            (click)="onRemoveClicked(contact)"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- actions header -->
      <ng-container matColumnDef="header-actions">
        <th mat-header-cell *matHeaderCellDef colspan="100%">
          <div class="header-actions-container">
            <div class="action-search-container">
              <mat-form-field class="search-field" appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" />
                <span matSuffix>
                  <mat-icon>search</mat-icon>
                </span>
              </mat-form-field>
            </div>

            <div class="action-button-container">
              <button
                mat-stroked-button
                color="primary"
                (click)="onAddContactClicked()"
              >
                <mat-icon>add</mat-icon>
                <span class="action-button-text">Add Contact</span>
              </button>
            </div>
          </div>
        </th>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['header-actions']; sticky: true"
      ></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
