<div class="header-container">


  <mat-toolbar>
    <span class="header-title">Contacts Application</span>
    <div class="header-logo"></div>
    <div
      class="header-avatar"
      mat-icon-button
      [matMenuTriggerFor]="appMenu"
      *ngIf="loggedInUser"
      [matTooltip]="loggedInUser.firstName + ' ' + loggedInUser.lastName"
    ></div>
  </mat-toolbar>
</div>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/contacts">Contacts</button>
  <button mat-menu-item (click)="onLogoutClicked()">Log out</button>
</mat-menu>
