.header-container {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
}
.header-avatar {
  flex: 0 0 auto;
  background-image: url('../../../assets/images/noAvatar.jpg');
  background-size: cover;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  float: right;
}

.header-logo {
  flex: 1 1 auto;
}

.header-title {
  flex: 0 1 auto;
}

