<h2 mat-dialog-title>{{ contactData ? "Edit Contact" : "Add Contact" }}</h2>
<mat-dialog-content>
  <div class="form-container">
    <form class="contact-form" [formGroup]="contactForm" (submit)="onSubmit()">
      <!-- First Name -->
      <mat-form-field class="form-field">
        <mat-label> First Name </mat-label>
        <input matInput formControlName="firstName" required />
        <mat-error
          *ngIf="
            contactForm.controls.firstName.touched &&
            contactForm.controls.firstName.invalid
          "
        >
          <span *ngIf="contactForm.controls.firstName.errors.required"
            >This field is required</span
          >
        </mat-error>
      </mat-form-field>

      <!-- Last Name -->
      <mat-form-field class="form-field">
        <mat-label> Last Name </mat-label>
        <input matInput formControlName="lastName" required />
        <mat-error
          *ngIf="
            contactForm.controls.lastName.touched &&
            contactForm.controls.lastName.invalid
          "
        >
          <span *ngIf="contactForm.controls.lastName.errors.required"
            >This field is required</span
          >
        </mat-error>
      </mat-form-field>

      <!-- Email Address -->
      <mat-form-field class="form-field">
        <mat-label> Email Address </mat-label>
        <input matInput formControlName="email" required />
        <mat-error
          *ngIf="
            contactForm.controls.email.touched &&
            contactForm.controls.email.invalid
          "
        >
          <span *ngIf="contactForm.controls.email.errors.required"
            >This field is required</span
          >
          <span *ngIf="contactForm.controls.email.errors.email"
            >This is not a valid email address</span
          >
        </mat-error>
      </mat-form-field>

      <!-- Phone Number -->
      <mat-form-field class="form-field">
        <mat-label> Phone Number </mat-label>
        <input matInput formControlName="phoneNumber" required />
        <mat-error
          *ngIf="
            contactForm.controls.phoneNumber.touched &&
            contactForm.controls.phoneNumber.invalid
          "
        >
          <span *ngIf="contactForm.controls.phoneNumber.errors.required"
            >This field is required</span
          >
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="duplicateEntry"
        >A Contact with the same email address already exists</mat-error
      >
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClicked()">Cancel</button>
  <button
    [disabled]="contactForm.invalid"
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
  >
    Save
  </button>
</mat-dialog-actions>
