<mat-card class="login-card">
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Login" #loginTab>
        <app-login-form></app-login-form>
      </mat-tab>
      <mat-tab label="Register">
        <app-register-form></app-register-form>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="onForgotPasswordClicked()" *ngIf="loginTab.isActive" mat-button class="login-card-btn">Forgot Password</button>
  </mat-card-actions>
</mat-card>
