<div class="form-container">
  <form class="login-form" [formGroup]="registerForm" (submit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label> First Name </mat-label>
      <input matInput formControlName="firstName" required />
      <mat-error
        *ngIf="
          registerForm.controls.firstName.touched &&
          registerForm.controls.firstName.invalid
        "
      >
        <span *ngIf="registerForm.controls.firstName.errors.required"
          >This field is required</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label> Last Name </mat-label>
      <input matInput formControlName="lastName" required />
      <mat-error
        *ngIf="
          registerForm.controls.lastName.touched &&
          registerForm.controls.lastName.invalid
        "
      >
        <span *ngIf="registerForm.controls.lastName.errors.required"
          >This field is required</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label> E-mail </mat-label>
      <input matInput formControlName="email" required />
      <mat-error
        *ngIf="
          registerForm.controls.email.touched &&
          registerForm.controls.email.invalid
        "
      >
        <span *ngIf="registerForm.controls.email.errors.required"
          >Please provide a email address</span
        >
        <span *ngIf="registerForm.controls.email.errors.email"
          >The specified email address is invalid</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label> Password </mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error
        *ngIf="
          registerForm.controls.password.touched &&
          registerForm.controls.password.invalid
        "
      >
        <span *ngIf="registerForm.controls.password.errors.required"
          >Please provide a password</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label> Confirm password </mat-label>
      <input matInput formControlName="confirmPassword" type="password" />
      <mat-error
        *ngIf="
          registerForm.controls.confirmPassword.touched &&
          registerForm.controls.confirmPassword.invalid
        "
      >
        <span *ngIf="registerForm.controls.confirmPassword.errors.required"
          >Please provide a password</span
        >
        <span
          *ngIf="
            !registerForm.controls.confirmPassword.errors.required &&
            registerForm.controls.confirmPassword.errors.passwordNoMatch
          "
          >Passwords must match</span
        >
      </mat-error>
    </mat-form-field>
    <button
      [disabled]="registerForm.invalid"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Register
    </button>
  </form>
</div>
