<div class="form-container">
  <form class="login-form" [formGroup]="loginForm" (submit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label> E-mail </mat-label>
      <input matInput formControlName="email" required />
      <mat-error
        *ngIf="
          loginForm.controls.email.touched && loginForm.controls.email.invalid
        "
      >
        <span *ngIf="loginForm.controls.email.errors.required"
          >Please provide a email address</span
        >
        <span *ngIf="loginForm.controls.email.errors.email"
          >The specified email address is invalid</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label> Password </mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error
        *ngIf="
          loginForm.controls.password.touched &&
          loginForm.controls.password.invalid
        "
      >
        <span *ngIf="loginForm.controls.password.errors.required"
          >Please provide a password</span
        >
      </mat-error>
    </mat-form-field>
    <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit">Log In</button>
  </form>
</div>
